#animals-in-shelter {
  background-color: #fff;
  color: $color-almost-black;

  h2,
  h4,
  p,
  table,
  thead,
  tr,
  th,
  tbody,
  td {
    color: $color-almost-black;
  }

  table {
    overflow: auto;
    width: 1000px;
    margin: 0 auto;

    @include media('<=tablet') {
      width: 700px;
      display: inline-block;
    }
  }

  th {
    text-align: center;
  }

  td {
    //width: 200px;
    border-top: 1px solid #ddd;
    text-align: center;
  }

  tr {
    border: none;
    &:hover {
      background-color: $color-almost-orange;

      td {
        color: $color-white;

        &:last-child {
          background-color: red;

          .icon-delete {
            background-image: url("../images/icon-delete-white.png");
          }
        }
      }
    }
  }

  .icon-delete {
    width: 20px;
    height: 25px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("../images/icon-delete.png");
    margin: 0 auto;
    cursor: pointer;
  }
}




