#animals {
  background-color: $color-orange;
  color: #fff;
}

.animal-col {
  text-align: center;
}

.animal {
  margin-top: $space-l;
  margin-bottom: $space-l;
  width: 150px;
  height: 150px;
  background: no-repeat center center;
  background-size: cover;
  border-radius: 8px;

  @include media('<=desktop') {
    width: 300px;
    height: 300px;
    display: inline-block;
  }

  h4 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
  }
}
