.content-section {
  position: relative;
  padding-top: $space-xxl;
  padding-bottom: $space-xxl;


  @include media('<=tablet') {
    padding-top: $space-l;
    padding-bottom: $space-l;
  }

  h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 42px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: $space-l;
  }

  h4 {
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    margin-top: $space-l;
    margin-bottom: $space-l;
  }

  p {
    font-size: 20px;
    margin-top: $space-l;
  }
}

