#mobile-menu {
  text-align: center;
  background-color: $color-yellow;

  li {
    font-size: 28px;
    padding: 10px 0;
    border-bottom: 3px solid $color-almost-white;

    &:last-child {
      border-bottom: none;
    }

    @include media('<=phone') {
      font-size: 18px;
    }
  }

  a {
    color: $color-white;
    background-color: inherit;

    &:hover {
      color: $color-almost-white;
    }
  }

  @include media('>=tablet') {
    display: none;
  }
}


#header-bg {
  width: 100%;
  height: 400px;
  background: no-repeat center center;
  background-size: cover;

  @include media('<=tablet') {
    display: none;
  }
}

#header-title {
  margin-bottom: $space-l;
  text-align: center;
  font-size: 72px;
  line-height: 1.2;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: $color-almost-black;

  @include media('<=tablet') {
    padding-top: $space-l;
  }
}

#header-separator{
  text-align: center;
  border-bottom: 3px solid $color-almost-black;
  width: auto;
  margin-left: 100px;
  margin-right: 100px;

  @include media('<=tablet') {
    margin-left: 50px;
    margin-right: 50px;
  }
}
