#register-animal {
  background-color: $color-red;
  color: #fff;

  .register-form-wrapper {
    height: 388px;
    margin-top: $space-l;
    border-radius: 8px;
    padding: $space-l;
    background-color: $color-white;
    color: $color-red;
    font-size: 14px;

    label {
      font-family: 'Open Sans', sans-serif;
      font-size: 18px;
      font-weight: 100;
      outline: none;
    }

    input[type=checkbox] {
      display: none;
    }

    .checkbox:checked + label::before {
      background-color:$color-red;
    }

    input[type=checkbox] + label::before {
      content: '';
      display: inline-block;
      border-radius: 4px;
      border: 1px solid $color-almost-black;
      position: relative;
      top: 3px;
      width:18px;
      height:18px;
      cursor: pointer;
      margin-right: $space-m;
      margin-top: $space-m;
    }

    #error-message {
      visibility: hidden;
      position: absolute;
      left: 350px;
      top: 350px;
      font-size: 18px;
      font-weight: 100;
    }
  }

  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $color-white;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $color-white;
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $color-white;
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    $color-white;
  }

  input,
  textarea,
  select {
    width: 100%;
    border: 0;
    margin-bottom: $space-m;
    padding: $space-m;
    font-family: 'Open Sans', sans-serif;
    outline: none;
    background-color: $color-red;
    border-radius: 4px;
    resize: none;
    box-sizing: border-box;
    color: $color-white;

    &:active,
    &:focus {
      background-color: $color-almost-red;
    }
  }

  select {
    padding: $space-m $space-m;

    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    background-repeat: no-repeat;
    background-size: 28px;
    background-position: 95% ;
  }

  .btn {
    margin-top: $space-m;
    background-color: $color-red;
    color: $color-white;
    float: right;

    &:hover {
      background-color: $color-almost-red;
      color: #fff;;
    }
  }
}

.register-info-wrapper {
  color: $color-red;
  height: 388px;
  margin-top: $space-l;
  border-radius: 8px;
  padding: $space-l;
  background-color: $color-white;
  background-repeat: no-repeat;
  background-position: 50% 90%;
  background-size: 200px;

  h4 {
    color: $color-red;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
  }

  address {
    font-weight: 100;
    text-align: center;
    font-size: 18px;

    a {
      margin-top: $space-xl;
      color: $color-red;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}


