$color-black: #000;
$color-white: #fff;
$color-grey: #333;

$color-almost-black: rgba(0, 0, 0, .8);
$color-almost-white: rgba(255, 255, 255, .6);
$color-almost-red: rgba(255, 0, 0, .8);
$color-almost-orange: rgba(233, 138, 37, .8);

$color-turquoise: #1abc9c;
$color-yellow: #f1c40f;
$color-orange: #e67e22;
$color-red: #e74c3c;
$color-dark-red: #c0392b
